/********** RESET **********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  padding: 0 1.5rem;
}

body {
  background-color: hsl(233, 47%, 7%);
}

/********** GRID **********/

.container {
  width: 100%;
  max-width: 111.1rem;
  height: 44.6rem;
  margin: 0 auto;
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.7rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
}

/********** FONTS **********/

.title h1 {
  font: 700 3.6rem 'Inter', sans-serif;
  color: hsl(0, 0%, 100%);
  margin-bottom: 3rem;
}

.title span {
  color: hsl(277, 64%, 61%);
  font-size: 3.6rem;
}

.title p {
  font: 400 1.49rem 'Inter', sans-serif;
  line-height: 175%;
  color: hsla(0, 0%, 100%, 0.6);
  width: 100%;
  max-width: 35.2rem;
}

.infos h2 {
  font: 600 2.3rem 'Inter', sans-serif;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.8rem;
}

.infos p {
  font: 400 1.2rem 'Lexend Deca', sans-serif;
  letter-spacing: 0.1rem;
  color: hsla(0, 0%, 100%, 0.6);
}

/********** STYLE **********/

.text {
  width: 100%;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 6rem;
}

.text .infos {
  width: 100%;
  max-width: 34rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  position: relative;
  order: 2;
}

.image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 99.2%;
  left: 0;
  top: 0;
  background-color: hsla(275, 85%, 25%, 0.6);
  filter: brightness(0.9);
  border-radius: 0px 0.7rem 0.7rem 0px;
}

.image img {
  border-radius: 0px 0.7rem 0.7rem 0px;
}

footer {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  padding: 0 1rem 1rem;
  margin-top: 3rem;
  line-height: 275%;
}

footer a {
  transition: all 0.3s;
  padding-bottom: 2px;
  text-decoration: none;
  font-weight: 700;
  color: hsl(277, 64%, 61%);
  box-shadow: 0 2px 0 0 hsl(277, 64%, 61%);
}

footer span {
  color: hsl(0, 100%, 47%);
  font-size: 1.25rem;
}

footer a:hover {
  color: hsl(277, 64%, 55%);
  box-shadow: none;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .image {
    left: 3rem;
  }
  .image::before {
    width: 94.5%;
  }

  .image img {
    width: 94.5%;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 32.7rem;
    height: 80rem;
    margin: 0 auto;
    background-color: hsl(244, 38%, 16%);
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50rem;
    margin-top: 5rem;
  }
  .text {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 5.2rem;
    gap: 0;
    padding: 3rem;
  }
  .title h1 {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }

  .title span {
    font-size: 2.6rem;
  }
  .title p {
    font-size: 1.5rem;
  }
  .text p {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: 3.5rem;
  }
  .image {
    order: 1;
    border-radius: 0px;
    left: 0;
  }

  .image img {
    height: auto;
    border-radius: 0.87rem 0.8rem 0rem 0rem;
    width: 100%;
  }

  .image::before {
    border-radius: 0px;
    width: 100%;
    border-radius: 0.87rem 0.8rem 0rem 0rem;
  }
  .text .infos {
    display: flex;
    flex-direction: column;
  }
}
