/********** RESET **********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  padding: 0 1.5rem;
}

body {
  background-color: hsl(233, 47%, 7%);
}

/********** GRID **********/

.container {
  width: 100%;
  max-width: 111.1rem;
  height: 44.6rem;
  margin: 0 auto;
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.7rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
}

/********** FONTS **********/

.title h1 {
  font: 700 3.6rem 'Inter', sans-serif;
  color: hsl(0, 0%, 100%);
  margin-bottom: 3rem;
}

.title span {
  color: hsl(277, 64%, 61%);
  font-size: 3.6rem;
}

.title p {
  font: 400 1.3rem 'Inter', sans-serif;
  line-height: 175%;
  color: hsla(0, 0%, 100%, 0.6);
  width: 100%;
  max-width: 32rem;
}

.infos h2 {
  font: 600 2rem 'Inter', sans-serif;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.8rem;
}

.infos p {
  font: 400 1rem 'Lexend Deca', sans-serif;
  letter-spacing: 0.1rem;
  color: hsla(0, 0%, 100%, 0.6);
}

/********** STYLE **********/

.text {
  width: 100%;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 7rem;
}

.text .infos {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  position: relative;
  order: 2;
}

.image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 99.2%;
  left: 0;
  top: 0;
  background-color: hsla(275, 85%, 25%, 0.6);
  filter: brightness(0.9);
  border-radius: 0px 0.7rem 0.7rem 0px;
}

.image img {
  border-radius: 0px 0.7rem 0.7rem 0px;
}

/* media queries  */

@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 54rem;
    height: 90rem;
    margin: 0 auto;
    background-color: hsl(244, 38%, 16%);
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }
  .text {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
  }
  .text p {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .image {
    order: 1;
    border-radius: 0px;
  }

  .image img {
    height: auto;
    border-radius: 0px;
  }

  .image::before {
    border-radius: 0px;
  }
}
